@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

body,
html{
    color:#fff;
    background: #fff;
	font-size:12px;
	font-weight:400;
	font-family: 'Source Sans Pro', sans-serif;
	/*-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    height: 18px;
    width: 18px;
}
/* Track */
::-webkit-scrollbar-track {
	background-color:#fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
	border:#fff 5px solid;
    background-color:#ccc;
}::-webkit-scrollbar-thumb:hover{
    background-color:#333;
}


.bold{ font-weight:900}
.light{ font-weight:100}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:link{ color: #b490d6; text-decoration: none; font-weight: 700 }
a:hover{ color: #b490d6; text-decoration: underline; font-weight: 700 }
a:active{  color: #b490d6; text-decoration: underline; font-weight: 700 }
a:visited{ color: #b490d6; text-decoration: none; font-weight: 700 }

header{
    width: 100%;
    height: 500px;
    background-image: url('../img/staff.png');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: auto 90%;
    margin:100px 0 50px 0;
}

.mobile.port
 header{
    background-size: contain;
    height: 50%;
    margin-top:20px;
    margin-bottom: 0
}

.mobile.land
 header{
    background-size: 50%;
    height: 100%;
    margin-top:0;
    margin-bottom: 0
}


p { margin-bottom: 20px; }
p:last-child { margin-bottom: 0; }

.tx_list{
    margin-bottom: 20px;
}

.tx_list li{
    list-style: disc;
    padding-left: 10px;
    margin-left: 40px;
    font-size: 15px;
}

.mobile
.tx_list li{
    list-style: disc;
    padding-left: 5px;
    margin-left: 20px;
    font-size: 13px;
}

/* ////////////////////////// MENU ////////////////////////// */

.bt{ cursor: pointer; }

#nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 2;
    background-color: #a48ab9;
    border-bottom: 1px #fff solid;
}

.mobile
#nav{
    top: inherit;
    bottom:0;
    height: 50px;
    border-top: 1px #fff solid;
    border-bottom: 0;
}

#menu{
    display: table;
    width: 100%;
    max-width: 400px;
    height: 100%;
    margin: auto;
    text-align: center;
}

.menu_bt.selected{
    background-color: #fff;
    color: #a48ab9;
    font-weight: 600;
}

.menu_bt{
    height: 100%;
    cursor: pointer;
    list-style: none;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    width: 33%;
    font-size: 14px;
}

.mobile
.menu_bt{
    font-size: 12px;
}

.menu_bt:hover{
    background-color: #d2bee5
}
.menu_bt.selected:hover{
    background-color: #fff;
    color: #a48ab9
}

#about{
    width: 100%;
    max-width: 700px;
    display: table;
    margin:  0 auto;
}


.mobile
#about{
    margin: 0 auto;
}

#about_tx{
    font-size: 18px;
    font-weight: 400;
    color: #555;
    line-height: 24px;
    vertical-align: middle;
    display: table-cell;
}

.mobile
 #about_tx{
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
.mobile.land
 #about_tx{
    padding: 50px;
}

.mobile.port
 #about_tx{
    padding: 30px;
}

.pb50{
    padding-bottom: 50px;
}

#download{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    max-width: 700px;
    height: 300px;
    margin: auto;
    line-height: 24px;
    position: relative;
}

#download_bt{
    width: 100%;
    height:120px;
    background-image: url('../img/download_bt.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #a48ab9;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
    cursor: pointer;
}

.mobile
#download_bt{
    width: 80%;
    background-size: contain;
}

.mobile.port
#download_bt{
    height: 75%;
    background-image: url('../img/download_bt2.png');
}

#download_bt:hover{
    background-color: #b190cb;
}

#courses_container{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin: auto;
    line-height: 24px;
}

.mobile
#courses_container{
    padding:0 10%;
}

#courses_title{
    width: 100%;
    padding: 50px 0;
    font-weight: 700;
    color: #72aed3;
    font-size: 24px;
}

.mobile
#courses_title{
    font-size: 18px;
}

#courses_title img{
    width: 60px;
    height: 60px;
}

.mobile
#courses_title img{
    display: block;
    margin: 20px auto;
}

.module2_bts{
  position: absolute;
  left: 105px;
  bottom:20px;
  width: 70%;
}

.mobile.land
.module2_bts{
  left: 20%;
}

.mobile.port
.module2_bts{
  left: 15%;
  width: 70%;
  bottom: 120px;
}

.module2_bt{
  display: inline-block;
  width: 49%;
  padding: 15px;
  border: #fff 1px solid;
  margin-right: 2px;
  background-image: url("../img/popup.png");
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mobile.land
.module2_bt{
  background-size: 50px;
  font-size: 14px;
  padding: 10px;
}

.mobile.port
.module2_bt{
  background-size: 50px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
}

.module2_bt:hover{
  background-color: #b190cb;
}

#courses_title span{
    position: relative;
    bottom:20px;
}

#courses_list{
    width: 100%;
    max-width: 700px;
    margin: 50px auto;
    padding-bottom: 100px;
}

.course{
    width:100%;
    height: 120px;
    margin-bottom: 2px;
    background-color: #a48ab9;
    color: #fff;
    position: relative;
    text-align: left;
    border-radius: 5px;
}

.course.module1{
  background-image: url("../img/popup.png");
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
}

.course.module1:hover{
    background-color: #b190cb;
}

.course.module2{
  height: 220px;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.mobile.port
.course.module1{
    height: 400px;
    background-position: top 0 right 0;
    padding-top: 50px;
    background-size: 50px;
}

.mobile.port
.course.module2{
    height: 470px;
    background-position: top 0 right 0;
    padding-top: 50px;
    background-size: 50px;
}

.mobile.land
.course.module1{
    background-size: 50px;
    height:150px
}

.mobile.land
.course.module2{
    background-size: 50px;
    height:210px
}

.course img{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 15px;
    top: 0;
    bottom:0;
    margin: auto 0;
}

.mobile.land
.course img{
    width: 50px;
    height: 50px;
}

.mobile.port
.course img{
    left: 0;
    right: 0;
    bottom:30px;
    top: inherit;
    margin: 0 auto;
}


.course_title{
    font-size: 20px;
    position: absolute;
    top:25px;
    left: 15%;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mobile.land
.course_title{
    background-size: 50px;
    left: 20%;
    font-size: 16px;
    width: 65%;
}

.mobile.port
.course_title{
    overflow:inherit;
    text-overflow:inherit;
    white-space: normal;
    position: relative;
    height: auto;
    top: 0;
}

.course_desc{
    font-size: 14px;
    position: absolute;
    top:55px;
    left: 15%;
    width: 70%;
    overflow: hidden;
    line-height: 18px;

}

.mobile.land
.course_desc{
    background-size: 50px;
    left: 20%;
    font-size: 12px;
    width: 65%;
}

.mobile.port
.course_desc{
    position: relative;
    top: 0;
    overflow:inherit;
    margin-top: 10px;
}

/* ////////////////////////// roles ////////////////////////// */



.cell{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-bottom: 1px;
}

.mobile
.cell{
    width: 100%;
    height: 75%;
}

.role_container{
    width: 200%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.role_left{
    width: 50%;
    height: 100%;
    background-position:  10%  50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

.mobile.land
.role_left{
    background-size: 30%;
    background-position: left;
}

.mobile.port
.role_left{
    background-size: 50%;
    background-position: center;
}

.role_right{
    width: 50%;
    height: 100%;
    background-position: right 10% top 50%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
}

.mobile.port
.role_right{
    background-position: bottom;
    background-size: 60%;
}

.mobile.land
.role_right{
    background-position: right ;
    background-size: 40%;
}

.iam{
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    bottom:52%;
    width: 100%;
    padding-left: 32%
}

.mobile.land
.iam{
    font-size: 18px;
    padding-left: 35%;
}


.mobile.port
.iam{
    bottom:inherit;
    width: 100%;
    text-align: center;
    padding-left: 0;
    top: 50px;
}

.title{
    font-size: 65px;
    font-weight: 200;
    position: absolute;
    top:50%;
    width: 100%;
    padding-left: 32%
}

.mobile.land
.title{
    font-size: 35px;
    padding-left: 35%;
}

.mobile.port
.title{
    font-size: 36px;
    top: inherit;
    bottom:50px;
    padding-left: 0;
    text-align: center

}

.quote{
    width: 40%;
    height: 80%;
    position: absolute;
    left: 15%;
    top:10%;
    display: table;
}

.mobile.port
.quote{
    width: 90%;
    height: 50%;
    top: 0;
    left: 5%;
}

.mobile.land
.quote{
    width: 45%;
    height: 100%;
    top: 0;
    left: 60px
}

.quote_tx{
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    display: table-cell;
    vertical-align: middle;
}

.mobile
.quote_tx{
    font-size: 14px;
    line-height: 18px;
}

.go{
    position: absolute;
    right: 70px;
    top: 0;
    bottom:0;
    margin: auto;
}

.mobile
.go{
    width: 50px;
    right: 40px;
}

.back{
    position: absolute;
    left: 70px;
    top: 0;
    bottom:0;
    margin: auto;
}


.mobile
.back{
    display: none;
}

/* FOOTER */


footer{
    width: 100%;
    height: 200px;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    background-color: #a48ab9;
}

.mobile.land
footer{
    height: 100%;
}

.mobile.port
footer{
    height: 60%;
}

footer p{
    margin-bottom: 10px;
}

footer img{
    margin-top: 10px;
}

#support{
    position: absolute;
    top: 70px;
    width: 25%;
    right: 25%;
    font-size: 10px;
    text-align: center;
}

.mobile #support{
    position: relative;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    margin-top: 30px;
}

#project{
    position: absolute;
    top: 70px;
    width: 25%;
    left: 25%;
    font-size: 10px;
    text-align: center;
}

.mobile #project{
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 30px;
}

#footer_links{
    width: 100%;
    position: absolute;
    bottom:40px;
    left: 0;
    text-align: center;
}

footer a:link{ color: #fff; text-decoration: underline }
footer a:hover{ color: #fff; text-decoration: underline; color: #000;}
footer a:active{ color: #fff; text-decoration: none }
footer a:visited{ color: #fff; text-decoration: none }



/**/
